html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 30px auto 30px;
    grid-template-areas: 
    "header header header"
    "nav main main"
    "footer footer footer";
}

.header{
    background-color: #9fda9a;
    grid-area: header;
}

.nav{
    background-color: #2ccccc;
    grid-area: nav;
}

.main{
    background-color: #f00000;
    grid-area: main;
}

.footer{
    background-color: #600000;
    grid-area: footer;
}